// set variables
@font-helvetica: "Helvetica";
@font-avenir: "Avenir";
@font-weight-700: 700;
@font-weight-300: 300;
@font-size200: 200px;
@font-size180: 180px;
@font-size140: 140px;
@font-size100: 100px;
@font-size50: 50px;
@font-size35: 35px;
@font-size32: 32px;
@font-size30: 30px;
@font-size24: 24px;
@font-size22: 22px;
@font-size20: 20px;
@font-size18: 18px;
@font-size15: 15px;
@font-size14: 14px;
@font-size13: 13px;
@font-size3: 3px;
@font-size1: 1px;
@color-31251c-brown:#31251c;
@color-999999-gray:#999999;
@color-30241a-brown:#30241a;
@color-221912-brownbold:#221912;
@color-hollow: rgba(233,213,210,0);
@border-hollow-pink: 2px solid #e9d5d2;
@color-e9d5d2-pink: #e9d5d2;
@color-8b7f71: #8b7f71;
@color-ddd: #ddd;
@color-333: #333;